# Multiplication russe

[Ancient Egyptian Multiplication](https://en.wikipedia.org/wiki/Ancient_Egyptian_multiplication)

Soit $b = \sum d_k 2^k $ avec $d_k=0$ ou $1$.

Par exemple, $42 = 2 + 8 + 32 = 0 \cdot 2^0 + 1 \cdot 2^1 + 0 \cdot 2^2 + 1 \cdot 2^3 + 0 \cdot 2^4 + 1 \cdot 2^5$

On calcule $a \cdot b = \sum d_k \cdot a \cdot 2^k$

deux relations récursives:

$a_k = 2 \cdot a_{k-1} $ avec $a_0 = a$, et 

$b_k =  b_{k-1}\ \mathbf{div}\ 2$ avec $b_0 = b$

$d_k = b_k\ \mathbf{mod}\ 2$

In [17]:
def russian(a,b):
    print("{:<10}{:<10}".format(a,b))
    if b == 0: return 0
    elif b == 1: return a
    else:
        return (b%2) * a + russian(a+a,b//2)

In [18]:
a = 743
b = 42
print("{} * {} = {}".format(a,b,a*b))
russian(a,b)

743 * 42 = 31206
743       42
1486      21
2972      10
5944      5
11888     2
23776     1

31206

In [21]:
def russian(a,b):
    print("{:<10}{:<10}".format(a,b))
    if b == 0: return 0
    elif b == 1: return a
    else:
        return a + russian(a << 1,b >> 1) if b & 1 else russian(a << 1,b >> 1)

In [22]:
a = 743
b = 247
print("{} * {} = {}".format(a,b,a*b))
russian(a,b)

743 * 247 = 183521
743       247
1486      123
2972      61
5944      30
11888     15
23776     7
47552     3
95104     1

183521

In [23]:
def russian(a,b):
    if b == 0: return 0
    elif a<b: a,b = b,a
        
    r = 0 
    while b > 0:
        if b&1: r += a
        a <<= 1
        b >>= 1
    return r

In [25]:
a = 743
b = 247
print("{} * {} = {}".format(a,b,a*b))
print(russian(a,b))

743 * 247 = 183521
183521

In [26]:
import numpy as np

a = [[1, 0], [1, 1]] 
np.matmul(a,a)

array([[1, 0],
       [2, 1]])

In [27]:
def fibonacci(n): 
    a = np.array([[0, 1], [1, 1]]) 
    r = np.array([[1, 0], [0, 1]])
    while n > 0:
        if n&1: r = np.matmul(r,a)
        a = np.matmul(a,a)
        n >>= 1
    return r[1,1]

In [28]:
for i in range(10):
    print(fibonacci(i))

1
1
2
3
5
8
13
21
34
55